.experience-container {
  display: flex;
  gap: 1rem;
}

.experience-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray2);
  margin-bottom: 1.75rem;
}

.logo-container {
  width: 5.25rem;
  height: 5.25rem;
  background-color: var(--white);
}

.logo {
  width: 100%;
  height: auto;
}

.time-period {
  font-size: 0.875rem;
  color: var(--gray3);
}

.experience-title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray1);
  margin: 0.75rem 0 2rem;
}

.experience-paragraph {
  font-size: 1rem;
  width: min(100%, 186px);
}

/* Horizontal Styles */
.experience-card-horizontal {
  width: min(100%, 1046px);
  padding: 1.375rem;
}

.experience-grid-horizontal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Vertical Styles */
.experience-card-vertical {
  width: 100%;
  padding: 1.375rem;
}

.experience-grid-vertical {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.25rem;
}
