footer {
  margin: 6rem 0 0;
}

.attribution {
  text-align: center;
  font-size: 0.875rem;
  color: var(--gray3);
}

.attribution a {
  color: var(--gray3);
  font-weight: 700;
}

.attribution a:hover {
  color: var(--accent-color);
  text-decoration: none;
}
