.App {
  width: min(100%, 1440px);
  margin-inline: auto;
  padding: 4.5rem 4rem 1.5rem;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(16, 1fr); */
  gap: 2rem;
}

.card {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.name-card {
  grid-column: 1 / 17;
}
