@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap");

:root {
  --font: "Montserrat", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --white: #fff;
  --gray1: #333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #c4c4c4;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --blue: #2f80ed;
}

/*  CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray6);
  font-family: var(--font);
  font-weight: 500;
  font-size: 1rem;
}

img,
svg {
  display: block;
}

p {
  color: var(--gray3);
  font-size: 1.125rem;
}
